<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2n8bpM86EIRuuySfcHDkoLILSnHAr6LU</string>
	<key>GCM_SENDER_ID</key>
	<string>938520681942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartWallet.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>smartwalletcatolica</string>
	<key>STORAGE_BUCKET</key>
	<string>smartwalletcatolica.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938520681942:ios:bcd6806359e2134e301877</string>
	<key>DATABASE_URL</key>
	<string>https://smartwalletcatolica-default-rtdb.firebaseio.com</string>
</dict>
</plist>